body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.routes-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 2rem 1rem;
}

.route-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px; /* Ширина карточки */
    overflow: hidden;
    transition: transform 0.3s ease;
}

.route-card:hover {
    transform: translateY(-5px); 
}

.route-card img {
    width: 100%;
}

header {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.navbar {
    height: 40px;
}

.navbtn button  {
    display: inline;
    justify-content: center; 
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 30px;
    color: #f4f4f4;
    width: 150px;
    padding: 14px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 30px;
}

.navbtn button:hover{
    transform: translateY(-5px);
}

a {
    text-decoration: none;
}